---
layout: default
---

<article class="post">
  <h1>{{ page.title }}</h1>

  <div clsss="meta">
    <span class="date">
      {{ page.date | date: "%Y-%m-%d" }}
    </span>

    <ul class="tag">
      {% for tag in page.tags %}
      <li>
        <a href="{{ site.url }}{{ site.baseurl }}/tags#{{ tag }}">
          {{ tag }}
        </a>
      </li>
      {% endfor %}
    </ul>
  </div>

  <div class="entry">
    {{ content }}
  </div>

  <div class="pagination">
    {% if page.previous.url %}
      <span class="prev" >
          <a href="{{ site.url }}{{ site.baseurl }}{{ page.previous.url }}">
            &#xE000; {{ page.previous.title }}
          </a>
      </span>
    {% endif %}
    {% if page.next.url %}
      <span class="next" >
          <a href="{{ site.url }}{{ site.baseurl }}{{ page.next.url }}">
            {{ page.next.title }} &#xE001;
          </a>
      </span>
    {% endif %}
  </div>

  {% include disqus.html %}
  
  <div id="gitmentContainer"></div>
<link rel="stylesheet" href="https://jjeejj.github.io/css/gitment.css">
<script src="https://jjeejj.github.io/js/gitment.js"></script>
<script>
var gitment = new Gitment({
    id: '{{ page.title }}',
    owner: 'wangjikui007',
    repo: 'wangjikui007.github.io',
    oauth: {
        client_id: '75def820d352d5bd43ae',
        client_secret: 'c2c4c779a33fd3de33257dedce786e8ef982cce1',
    },
});
gitment.render('gitmentContainer');
</script>
  
</article>
